.feature-images {
    position: relative;

    img {
        max-width: 100%;
    }

    .bd-placeholder-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.2;
    }
}
